<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="row mt-5">
		<div class="col"></div>
		<div class="col">

			<div class="card">
				<div class="card-header" th:text="${titulo}"></div>
				<div class="card-body">


					<form th:action="@{/paquete/guardar}" th:object="${paquete}" method="post">
						<div class="form-group">
							<label for="nombre">Nombre</label> <input type="text"
								class="form-control" th:field="*{nombre}">
						</div>
						
						<div class="form-group">
							<label for="precio">Precio</label> <input type="text"
								class="form-control" th:field="*{precio}">
						</div>
						
						<div class="form-group">
							<label for="tipo">Tipo</label> <input type="text"
								class="form-control" th:field="*{tipo}">
						</div>
						
						<div class="form-group">
							<label for="cantidadBolson">Cantida bolson</label> <input type="text"
								class="form-control" th:field="*{cantidadBolson}">
						</div>
						
						<div class="form-group">
							<label for="vigencia">Vigencia</label> <input type="text"
								class="form-control" th:field="*{vigencia}">
						</div>

						<button type="submit" class="btn btn-outline-primary btn-block">Registrar paquete</button>
					</form>

				</div>
			</div>

		</div>
		<div class="col"></div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>